:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --borderColor: 237, 241, 247;
    --headerBackground: 255, 255, 255;
    --headerBorderColor: var(--borderColor);
    --iconColor: 143, 155, 179;
    --primary: 51, 102, 255;
    --mainBackground: 255, 255, 255;
    --containerSize: 1000px;
    --containerSize: 1000px;
    --iconColor: 143, 155, 179;
    --mainBackground: 255, 255, 255;
    --textColor: 17, 24, 39;
}

a {
    color: rgb(var(--primary));
    text-decoration: none;
    transition: all .2s;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background: rgb(var(--footerBackground));
    color: rgb(var(--textColor));
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4  Pro W3", Hiragino Kaku Gothic Pro, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33  \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1;
}

ul,
ul li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

ol,
ul {
    list-style: none;
}

h1 {
    color: rgb(var(--textColor));
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
}

.bottom_bar nav ul {
    display: flex;
}

.bottom_bar {
    background: rgb(var(--headerBackground));
    border-top: 1px solid rgb(var(--headerBorderColor));
    bottom: 0;
    box-shadow: 0 -3px 5px rgb(0 0 0 / 2%);
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 500;
}

@media screen and (max-width: 769px) {
    .bottom_bar {
        display: block;
    }
}

.bottom_bar nav ul li {
    display: inline-block;
    width: 20%;
}

.bottom_bar nav ul li a {
    color: rgb(var(--iconColor));
    display: block;
    padding: 20px 0 14px;
    position: relative;
    text-decoration: none;
}

.bottom_bar nav ul li a svg {
    stroke: rgb(var(--iconColor));
    display: block;
    margin: 0 auto;
}

.bottom_bar nav ul li a .bull {
    background: rgb(var(--primary));
    border: 2px solid rgb(var(--mainBackground));
    border-radius: 50%;
    height: 8px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(17px, -16px);
    width: 8px;
}

/*nav desktop*/
header {
    background: rgb(var(--headerBackground));
    border-bottom: 1px solid rgb(var(--headerBorderColor));
    box-shadow: 0 3px 5px rgb(0 0 0 / 2%);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}

header .top {
    padding: 14px 0;
}

header .top .container {
    align-items: center;
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: var(--containerSize);
    padding: 0 20px;
}

header .top nav {
    flex: 0 0 auto;
}

header .top nav ul {
    display: flex;
}

header .top nav ul li {
    display: inline-block;
    padding: 0 0 0 4px;
}

header .top nav ul li a {
    border: 8px solid transparent;
    border-radius: 50%;
    display: block;
    height: 24px;
    position: relative;
    width: 24px;
}

header .top nav ul li a .bull {
    background: rgb(var(--primary));
    border: 2px solid rgb(var(--mainBackground));
    border-radius: 50%;
    height: 8px;
    position: absolute;
    right: -3px;
    top: -1px;
    width: 8px;
}

header .top nav ul li a svg {
    stroke: rgb(var(--iconColor));
}

@media screen and (max-width: 769px) {
    header {
        border-bottom: 0;
    }
}

@media screen and (max-width: 769px) {
    header .top {
        display: none;
    }
}

header .top .logo-container {
    flex: 1 1 auto;
    text-align: center;
}

header .top .logo-container .logo {
    display: inline-block;
    left: -70px;
    position: relative;
    width: 115px;
}

header .top .dropdown.drop {
    flex: 0 0 auto;
    margin-left: 15px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

header .top .dropdown.drop .user {
    height: 28px;
    width: 28px;
}

.avatar.color-1 {
    background-color: #c7ceea;
}

.avatar {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    position: relative;
    width: 45px;
    overflow: hidden;
}

header .top .dropdown.drop .user img {
    width: 100%;
}

.avatar img {
    border-radius: 4px;
    position: relative;
    z-index: 5;
}

img {
    max-width: 100%;
}

.background {
    background: rgb(var(--mainBackground));
    padding: 20px 0 80px;
}

.container {
    margin: 0 auto;
    max-width: var(--containerSize);
    padding: 0 20px;
}

.two-col {
    display: block;
}

@media screen and (min-width: 761px) {
    .two-col {
        display: flex;
    }
}

.two-col>.first {
    padding-bottom: 40px;
}

@media screen and (min-width: 761px) {
    .two-col>.first {
        flex: 1 1 auto;
        padding: 0 40px 0 0;
    }
}

@media screen and (min-width: 761px) {
    .two-col>.second {
        flex: 0 1 300px;
    }
}

.forum-categories {
    display: flex;
    justify-content: flex-end;
}

.KNH {
    flex: 0 1 auto;
    height: 36px;
    min-width: 125px;
    position: relative;
}

.Esw {
    --desktop-nav-search-box-large-width: 268px;
    width: var(--desktop-nav-search-box-large-width);
}

.area-search {
    --ig-highlight-background: 239, 239, 239;
    -webkit-appearance: none;
    background: rgb(var(--ig-highlight-background));
    font-size: var(--system-16-font-size);
    border: 0;
    padding: 3px 16px;
    border-radius: 8px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: none;
}