
.rj1ne08a {
    max-width: 888px;
}
.l9j0dhe7 {
    position: relative;
}

.kfkz5moi {
    left: 50%;
}
.ewvsauy8 {
    min-width: 540px;
}
.cj5g2342 {
    transform: translateX(-50%);
}

.sjgh65i0 {
    margin-bottom: 16px;
}

.pfnyh3mw {
    flex-shrink: 0;
}
.oi9244e8 {
    margin-right: 8px;
}
.icfx37jv {
    flex-basis: 120px;
}
.h676nmdw {
    margin-left: 8px;
}
.buofh1pr {
    flex-grow: 1;
}

.n7fi1qx3 {
    right: 0;
}

.kr520xx4 {
    top: 0;
}
.j9ispegn {
    left: 0;
}
.i09qtzwb {
    bottom: 0;
}

.k4urcfbm {
    width: 100%;
}

.datstx6m {
    height: 100%;
}
.bixrwtb6 {
    object-fit: cover;
}

.mm8kr34x {
    background-image: linear-gradient(
0deg
,var(--always-dark-overlay),transparent);
}

